//////////////// bottom left blob
.bottomlblob {
  grid-column: 1;
  grid-row: 7 / 9;
  fill-opacity: 0;
  animation: dash 4s linear forwards, FillIn 0.5s ease-in forwards;
  animation-delay: 0s, 2.5s;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

.blblob {
  display: grid;
  align-items: center;
}

.blblob > *{
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

@media all and (max-width: 700px) {
  .bottomlblob {
      grid-column: 1;
      grid-row: 7;
    }
  
    .blblob > * > *{
      grid-column: 1;
      grid-row: 1;
      width: 100% - 60;
    }
}

@media all and (max-width: 375px) {
  .bottomlblob {
      grid-column: 1;
      grid-row: 6 / 7;
    }
  
    .blblob {
      display: grid;
      align-items: center;
    }
}