.homepage {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: 300px minmax(200px, auto);
    grid-gap: 20px;
}

.homepage > div:nth-child(1) {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
    display: flex;
    align-items: flex-end;
    animation: fade-in-bottom ease 4s forwards;
}

.main_blob {
  grid-column: 2/span 3;
  grid-row: 2/span 1;
}

.homepage > div:nth-child(3) {
  grid-column: 4 / 4;
  grid-row: 3 / 3;
  display: flex;
  align-items: flex-start;
  width: 65%;
  //animation: fade-in-bottom ease 4s forwards;
}

.homepage > div:nth-child(4) {
  grid-column: 5 / 6;
  grid-row: 4 / 5;
}

.homepage > div:nth-child(5) {
  grid-column: 4 / 4;
  grid-row: 1 / 1;
  display: flex;
  align-items: flex-end;
  justify-content: right;
}

.homepage > div:nth-child(6) {
  grid-column: 1/span 5;
  width: auto;
  grid-row: 5/span 3;
}


// .homepage > div:nth-child(2) div:nth-child(2) {
//   display: flex;
//   justify-content: center;
// }

// .path {
//     position: absolute;
//     top: 125px;
//     left: 1030px;
//     stroke-dasharray: 1000;
//     stroke-dashoffset: 1000;
//     animation: dash 2s linear forwards;
//   }

// .port {
//     padding-left: 135px;
//     animation: fade-in-right ease 3s forwards;
//     cursor: pointer;
// }

  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes fade-in-right {
    from {
      opacity: 0;
      transform: translateX(15px);
    }
    to {
      opacity: 1;
      transform: translateX(30px);
    }
  }

  @keyframes fade-in-bottom {
    from {
      opacity: 0;
      transform: translateY(65px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media all and (max-width: 575px) {
      .homepage {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-gap: 2px;
    }
    .homepage > div:nth-child(1) {
      padding-left:5%;
      width: 50%;
      grid-column: 2 / 2;
      grid-row: 1 / 2;
      display: flex;
      align-items: flex-end;
  }
  // .homepage > div:nth-child(5) {
  //   grid-column: 1/span 4;
  //   width: 50%;
  //   grid-row: 5/span 2;
  // }
    .homepage > div:nth-child(2) {
        grid-column: 1/span 3;
        grid-row: 2/span 2;
    }
    .main_blob {
      grid-column: 2/span 2;
      grid-row: 3/span 1;
    }
    .homepage > div:nth-child(3) {
      grid-column: 2 / 2;
      grid-row: 3 / 3;
      display: flex;
      align-items: flex-end;
      width: 50%;
      margin-left: 35%;
  }
}


  // .vertical_grid {
  //   position: absolute;
  //   padding-right: 200px;
  // }
  // .vertical_grid svg {
  //   width: 890px;
  //   height: 1280px;
  // }

  // .horizontal_grid {
  //   position: absolute;
  
  // }
