.homepage {
  display: grid;
  grid-template-columns: repeat(6, minmax(10px, 400px));
  grid-template-rows: repeat(9, minmax(10px, 110px));
  background: $olive-gold;
  overflow: hidden;
}
////////////hamburger menu
.menu-icon {
  grid-column: 5;
  grid-row: 3;
  z-index: 3;
  margin-top: 15px;
  margin-left: 140px;
  // animation: fade-in-bottom ease 4s forwards;
  // position: fixed;
}
/////////////CHANEL FU title
.title {
  grid-column: 2 / 4;
  grid-row: 3 / 5;
  z-index: 3;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 90px;
  font-weight: 500;
  text-align: left;
  color: white;
  letter-spacing: 3px;
  animation: fade-in-bottom ease 4s forwards;
}

////// homepage description
.description {
  grid-column: 5;
  grid-row: 7;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  text-align: left;
  color: white;
  letter-spacing: 2px;
}

@media all and (max-width: 1200px) {
  .menu-icon {
    margin-left: 20px;
  }
}

@media all and (max-width: 700px) {
  .menu-icon {
    grid-column: 4;
    grid-row: 3;
    display: grid;
    justify-items: left;
    z-index: 3;
    margin-left: 20px;
  }
  
  .title {
    font-size: 55px;
  }

  .description {
    grid-column: 4 / 6;
    grid-row: 6;
    font-size: 15px;
  }
}

@media all and (max-width: 375px) {
  .homepage {
    display: grid;
    grid-template-columns: repeat(6, minmax(10px, 400px));
    grid-template-rows: repeat(9, minmax(10px, 110px));
    background: $olive-gold;
  }
  .title {
    grid-column: 1 / 6;
    grid-row: 2;
    z-index: 3;
    margin-left: 15px;
    font-size: 50px;
  }

  .menu-icon {
    grid-column: 4;
    grid-row: 2;
    display: grid;
    justify-items: left;
    z-index: 3;
  }

  .description {
    grid-column: 4 / 6;
    grid-row: 5;
    font-size: 12px;
    // animation: fade-in-bottom ease 4s forwards;
  }
}

@keyframes dash {
  from { 
      fill-opacity: 0; 
  }
  to {
      stroke-dashoffset: 0;  
      fill-opacity: 0; 
  }
}

@keyframes FillIn {
  from { 
      fill-opacity: 0; 
  }
  to { 
      fill-opacity: 1; 
  }
}

  // @keyframes dash {
  //   to {
  //     stroke-dashoffset: 0;
  //   }
  // }

  @keyframes fade-in-right {
    from {
      opacity: 0;
      transform: translateX(15px);
    }
    to {
      opacity: 1;
      transform: translateX(30px);
    }
  }

  @keyframes fade-in-bottom {
    from {
      opacity: 0;
      transform: translateY(65px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

//   @keyframes fade-in-top {
//     from {
//       opacity: 0;
//       transform: translateY(0px);
//     }
//     to {
//       opacity: 1;
//       transform: translateY(65);
//     }
//   }

