///////////// bottom right blob
.lower-right-blob {
  grid-column: 5;
  grid-row: 6;
  fill-opacity: 0;
  animation: dash 10s linear forwards, FillIn 0.5s ease-in forwards;
  animation-delay: 0s, 2.5s;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

.lower-right-blob__layers {
 display: grid;
 justify-items: center;
 align-items: center;
}

.lower-right-blob__layer{
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

@media all and (max-width: 375px) {
  .lower-right-blob {
    grid-column: 5;
    grid-row: 4;
    display: grid;
  }  
  .lower-right-blob__layers {
      grid-column: 5;
      grid-row: 5;
    }    
}