
.main_blob {
    grid-column: 2/span 3;
    grid-row: 2/span 1;
  }
  
.main_blob2 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 100px);
    grid-gap: 2px;
}

.main_blob2 > div:nth-child(1) {
    fill-opacity: 0;
    display: flex;
    justify-content: center;
    grid-column: 3 / 8;
    grid-row: 1 / 4;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000; 
    animation: dash 3s linear forwards, FillIn 0.5s ease-in forwards;
    animation-delay: 0s, 2.5s;
}

.main_blob2 > div:nth-child(2) {
    fill-opacity: 0;
    display: flex;
    justify-content: center;
    grid-column: 3 / 8;
    grid-row: 1 / 4;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000; 
    animation: dash 3s linear forwards, FillIn 0.5s ease-in forwards;
    animation-delay: 0s, 2.5s;
}

.main_blob2 > div:nth-child(3), .main_blob2 > div:nth-child(4), .main_blob2 > div:nth-child(5), .main_blob2 > div:nth-child(6), .main_blob2 > div:nth-child(7), .main_blob2 > div:nth-child(8), .main_blob2 > div:nth-child(9) {
    fill-opacity: 0;
    // display: flex;
    justify-content: center;
    grid-column: 3 / 8;
    grid-row: 1 / 4;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000; 
    animation: dash 3s linear forwards, FillIn 0.5s ease-in forwards;
    animation-delay: 0s, 2.5s;
}

.main_blob2 > div:nth-child(10) {
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    fill-opacity: 0;
    animation: dash 7s linear forwards, FillIn 0.5s ease-in forwards;
    animation-delay: 0s, 2.5s;
}

.main_blob2 > div:nth-child(11) {
    grid-column: 2 / 2;
    grid-row: 3 / 5;
}

.main_blob2 > div:nth-child(12) {
    grid-column: 7 / 7;
    grid-row: 4 / 4;
}

.homepage_electric {
    cursor: pointer;
}

.homepage_black {
    margin-top: 5px;
    margin-left: 5px;
}

.homepage_crimson {
    margin-top: 10px;
    margin-left: 26px;
}

.homepage_mauve {
    margin-top: 15px;
    margin-left: 37px;
}

.homepage_forest {
    margin-top: 19px;
    margin-left: 42px;
}

.homepage_spicy {
    margin-top: 22px;
    margin-left: 50px;
}

.homepage_mud {
    margin-top: 38px;
    margin-left: 72px;
}

.homepage_mint {
    margin-top: 41px;
    margin-left: 75px;
}

.homepage_eggshell {
    margin-top: 49px;
    margin-left: 89px;
}

.homepage_fumanity {
    position: absolute;
    bottom: 20px;
    left: 32px;
}

@keyframes dash {
    from { 
        fill-opacity: 0; 
    }
    to {
        stroke-dashoffset: 0;  
        fill-opacity: 0; 
    }
  }

  @keyframes FillIn {
    from { 
        fill-opacity: 0; 
    }
    to { 
        fill-opacity: 1; 
    }
  }

  @media all and (max-width: 575px) {

  .main_blob2  {
    width:100%;
    display: grid;
    grid-gap: 2px;
  }

  .main_blob2 > div:nth-child(1){
    grid-column: 2 / 7;
    grid-row: 1 / 5;
    width: 110%;  
  }

  .main_blob2 > div:nth-child(2){
    grid-column: 2 / 7;
    grid-row: 1 / 5;
    width: 106%;  
  }

  .main_blob2 > div:nth-child(3), .main_blob2 > div:nth-child(4), .main_blob2 > div:nth-child(5), .main_blob2 > div:nth-child(6), .main_blob2 > div:nth-child(7), .main_blob2 > div:nth-child(8), .main_blob2 > div:nth-child(9) {
    grid-column: 2 / 7;
    grid-row: 1 / 5;
}

  .main_blob2 > div:nth-child(3) {
        width: 100%;   
    }

    .main_blob2 > div:nth-child(4) { 
        width: 98%;
    }

    .main_blob2 > div:nth-child(5) {
        width: 96%;
    }

    .main_blob2 > div:nth-child(6) {
        width: 94%;
    }

    .main_blob2 > div:nth-child(7) {
         width: 92%;
    }

    .main_blob2 > div:nth-child(8){
        width: 90%;
    }  

    .main_blob2 > div:nth-child(9) {
       width: 89%;
    }

}

//   .main_blob2 div:nth-child(1), div:nth-child(2), div:nth-child(3), div:nth-child(4), div:nth-child(5), div:nth-child(6), div:nth-child(7), div:nth-child(8), div:nth-child(9) {
//     grid-column: 2/span 1;
//     grid-row: 2/span 3;
//     }
