
.agent-1, .agent-3 {
  opacity: 0;
  animation: fade-in-right ease-in-out 0.4s forwards;
}

.agent-2 {
  //transform: scaleX(0);
  //transform-origin: left;
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500; 
  animation: dash 5s linear forwards
  // animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.1s forwards;
  // animation-delay: 0.4s;
}


@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}


@keyframes grow-left {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}