// * {
//     box-sizing: border-box;
// }

// body {
//     margin: 0;
//     font-family: Arial;
// }

.portpage {
  grid-column: 1/span 5;
  grid-row: 5/span 2;
    // display: grid;
    // grid-template-columns: repeat(5,1fr);
    // grid-auto-rows: 290px minmax(200px, auto);
    // grid-gap: 20px;
    background: $eggshell;
}

.portpage > div:nth-child(5) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  animation: fade-in-right ease 4s forwards;
}

.portpage > div:nth-child(6) {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.agent-1, .agent-3 {
    opacity: 0;
    animation: fade-in-right ease 0.4s forwards;
  }
  
  .agent-2 {
    transform: scaleX(0);
    transform-origin: left;
    animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
    animation-delay: 0.4s;
  }
  
  .agent-3 {
    animation-delay: 0.8s;
  }

  @keyframes fade-in-right2 {
    from {
      opacity: 0;
      transform: translateX(-15px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes grow-left {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(1);
    }
  }

.port__row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    background: $eggshell;
}

.port__column {
    -ms-flex: 24.5%; /* IE10 */
    flex: 24%;
    max-width: 24.5%;
    padding: 0 4px;
    padding-bottom: $m-size;
}

.port__column > img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .port__column {
        -ms-flex: 50%;
        flex: 45%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .port__column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}