.homepage_forestc {
    position: absolute;
    top: 661px;
    left: 990px;
}

.homepage_eggshellc {
    position: absolute;
    top: 664px;
    left: 992px;
}

.homepage_spicyc {
    position: absolute;
    top: 667px;
    left: 995px;
}

.homepage_mustardc {
    position: absolute;
    top: 670px;
    left: 997px;
}

.homepage_eggshellc1 {
    position: absolute;
    top: 678px;
    left: 1003px;
}
