.top_left_blob > div:nth-child(1), .top_left_blob > div:nth-child(2), .top_left_blob > div:nth-child(3), .top_left_blob > div:nth-child(4), .top_left_blob > div:nth-child(5), .top_left_blob > div:nth-child(6) {
    fill-opacity: 0;
    animation: dash 17s linear forwards, FillIn 0.5s ease-in forwards;
    animation-delay: 0s, 2.5s;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}

.homepage_blacka {
    margin-top: 30px;
}

.homepage_olivea {
    margin-right: 1px;
    margin-top: 1px;
}

.homepage_spicya {
    margin-right: 4px;
    margin-top: 2px;
}

.homepage_minta {
    margin-right: 5px;
    margin-top: 1px;
}

.homepage_mustarda {
    margin-right: 7px;
    margin-top: 1px;
}

.homepage_peacha {
    margin-right: 11px;
    margin-top: 2px;
}


@keyframes dash {
    from { 
        fill-opacity: 0; 
    }
    to {
        stroke-dashoffset: 0;  
        fill-opacity: 0; 
    }
  }

  @keyframes FillIn {
    from { 
        fill-opacity: 0; 
    }
    to { 
        fill-opacity: 1; 
    }
  }