@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i|IBM+Plex+Sans+Condensed:400,400i|IBM+Plex+Sans:100,100i,400,400i,700,700i|IBM+Plex+Serif:400,400i');

html {
    font-size: 62.5%; 
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: $m-size;
    font-weight: 100;
    background: $olive-gold;
}