// place to declare the theme of our app

// colors
$olive-gold: #A28D13;
$mint: #D7E4CD;
$spicy: #FF3838;
$clay: #605242;
$forest: #4C735C;
$mauve: #BCA894;
$eggshell: #FBF7EB; 
$crimson: #750000;
$black: #000000;
$peach: #E4B789;
$electric: #E9FF00;
$mustard: #CCB005;
$aluminum:  #eee;

// spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
